img.a {width:100px ;
    height:100px ;
    border-radius: 100%;
    object-fit: cover;}
    button {width:100px ;
        height:100px ;
        border-radius: 100%;
        object-fit: cover;}
    body{background-color: #99badd;
    background-image: radial-gradient(circle, white, #4C516D);}
    .t {padding: 6px;}
    .thanks{font-size: 60px;
    font-weight: bold;}
img.b {width: 500px;
height: 700px;
padding: 1px;
margin: 10px}
caption {font-size: 40px;
font-weight: bold;}
