body{background-image: url(/images/Math.JPG);}
img.b {width:100px ;
height:100px ;
border-radius: 100%;
}
button {width:100px ;
    height:100px ;
    border-radius: 100%;
    object-fit: cover;}
.t {padding: 6px;}
.thanks{font-size: 60px;
font-weight: bold;}
img.a {width:400px;
    height:400px;}
